<?xml version="1.0" encoding="UTF-8"?>
<module version="1.0" infocenter="impact" xmlns="http://motive.com/techpubs/module" >
    <notification>
        <email>mpd-techpubs-m2m@list.nokia.com</email>
    </notification>
    
    <template name="default">
        <format name="pdf" disabled="false">
            <external failonerror="true"/>
            <reviewer failonerror="true"/>
        </format>
        <format name="eclipse-infocenter" disabled="false">
            <reviewer publish="true" failonerror="true"/>
            <external publish="false" failonerror="true"/>
        </format>
        <format name="chunk" disabled="false">
            <external publish="false" failonerror="true"/>
        </format>
    </template>
    
    <template name="reviewer">
        <format name="pdf" disabled="false">
            <reviewer failonerror="true"/>
        </format>
        <format name="eclipse-infocenter" disabled="false">
            <reviewer publish="true" failonerror="true"/>
          </format>
        <format name="chunk" disabled="false">
            <external publish="false" failonerror="true"/>
        </format>
    </template>
    
    <template name="release-only-internal">
        <format name="pdf" disabled="false">
            <internal failonerror="true"/>
        </format>
        <format name="eclipse-infocenter" disabled="false">
            <internal publish="true" failonerror="true"/>
        </format>
    </template>
    
    <template name="release">
        <format name="pdf" disabled="false">
            <external failonerror="true"/>
            <internal failonerror="true"/>
            </format>
        <format name="eclipse-infocenter" disabled="false">
            <internal publish="true" failonerror="true"/>
            <external failonerror="true"/>
            </format>
        <format name="chunk" disabled="false">
             <external publish="false" failonerror="true"/>
         </format>
    </template>
    
    <template name="reviewer-prepare-for-release">
        <format name="pdf" disabled="false">
            <external failonerror="true"/>
            <reviewer failonerror="true"/>
        </format>
        <format name="eclipse-infocenter" disabled="false">
            <external failonerror="true"/>
            <reviewer publish="true" failonerror="true"/>
        </format>      
        <format name="eclipse-help" disabled="false">
            <external publish="false" failonerror="true"/>
            <reviewer publish="true" failonerror="true"></reviewer>
        </format>
        <format name="chunk" disabled="false">
            <external publish="false" failonerror="true"/>
        </format>
    </template>
    
    <!-- to skip building outputs for a book, but build the olink db for it, use this template-->
    <template name="no-output"/>
    
    <template name="RH">
        <format name="eclipse-help" disabled="false">
            <external failonerror="true"/>
            <internal publish="true" failonerror="true"></internal>
        </format>
    </template>
    
    <template name="api">
        <format name="eclipse-help">
            <external publish="true" failonerror="true"/>
        </format>
    </template>

    <document dir="en_US/releasehighlights" template="RH"/>   

    
    <document dir="en_US/console.help" template="reviewer"/>
    <document dir="en_US/nbi.guide" template="reviewer"/>
    <document dir="en_US/nbi.getting.started.guide" template="reviewer"/>
    <document dir="en_US/sadm.soap.api" template="reviewer"/>
    <document dir="en_US/msm.soap.api" template="reviewer"/>
    <document dir="en_US/deployment.guide" template="reviewer"/>
    <!-- document dir="en_US/releasenotes" template="no-output"/--> <!-- Was last used in 19 MP1. Removed in 19.11 as there will be a common RNs done in DITA. 26 Nov 2019. -->
    <!--document dir="en_US/csg.releasenotes" template="no-output"/--> <!-- Removed for 19.11 -->
    <document dir="en_US/ont.solution.guide" template="reviewer"/>
    <document dir="en_US/iot.solution.guide" template="reviewer"/>
    <document dir="en_US/cdp.faq" template="reviewer"/>
    <document dir="en_US/cdp.configuration.guide" template="reviewer"/>
    <document dir="en_US/cdp.sub.aware.console" template="reviewer"/>
    <document dir="en_US/nfv.deployment.guide" template="reviewer"/>
    <document dir="en_US/cdp.privacy.considerations" template="reviewer"/>
    <document dir="en_US/cdp.reporting.guide" template="reviewer"/>  
    <document dir="en_US/data.dictionary" template="reviewer"/>
    <document dir="en_US/es.user.guide" template="reviewer"/>
    <document dir="en_US/ts.43.guide" template="reviewer"/>
    <document dir="en_US/es.samsung.user.guide" template="reviewer"/>
    <document dir="en_US/cdp.rcs.solution.guide" template="reviewer"/>
    <document dir="en_US/impact.bcmt.aws.deployment.guide" template="reviewer"/>
    <document dir="en_US/impact.ncm.deployment.guide" template="reviewer"/>
    <document dir="en_US/impact.healthcheck.for.individual.modules.guide" template="reviewer"/>
<!-- The below books can be taken out (put in comment) to speed up the build. -->
    
     <document dir="en_US/core.swaggerdocs" template="api"/>
    <document dir="en_US/es.javadocs" template="api"/>
    <document dir="en_US/rcs.javadocs" template="api"/>
    <document dir="en_US/es.swaggerdocs" template="api"/>
    <document dir="en_US/scripted.primitives.javadocs" template="api"/> 
    
<!--    also in pom file generation of pdf swagger docs can be taken out. Search for SPEED UP in the pom file -->

<!-- The below books can be put to no-output to speed up the build. They hardly ever change. Should be put back in for the released version -->
    <document dir="en_US/udmplugin.development.guide" template="reviewer"/>
    <document dir="en_US/cdp.lwm2m.plugin" template="reviewer"/>
    <document dir="en_US/cdp.lwm2m.user.guide" template="reviewer"/>
    
    <!--<war>
        <folder>en_US/external-war</folder>
    </war>-->
    
</module>

<!-- CDP-17785, Removing the SM doc from IMPACT 19.11 as SM is no longer a part of the IMPACT portfolio.
  <document dir="en_US/cdp.sm.solution.guide" template="no-output"/> -->

 <!--Removing from CDP 18 <document dir="en_US/cdp.saas.configuration.guide">
    making this doc an exception, not publishing it to the infocenter
        <format name="pdf" disabled="false">
            <external failonerror="true"/>
            <reviewer failonerror="true"/>
        </format>
        <format name="eclipse-infocenter" disabled="false">
            <reviewer publish="false" failonerror="true"/>
            <external publish="false" failonerror="true"/>
        </format>
        <format name="chunk" disabled="false">
            <external publish="false" failonerror="true"/>
        </format>
    </document>-->
    
    <!-- commenting out for CDP 18<war>
        <folder>en_US/external-war-saas</folder>
    </war> -->
    
    <!--<war>
        <folder>en_US/reviewer-war</folder>
    </war>-->
    <!-- commenting out for CDP 18 <war>
        <folder>en_US/reviewer-war-saas</folder>
    </war> -->
    

