<?xml version="1.0" encoding="UTF-8"?>
<module version="1.0" infocenter="impact" xmlns="http://motive.com/techpubs/module" >
    <notification>
        <email>mpd-techpubs-m2m@list.nokia.com</email>
    </notification>
    
    <template name="default">
        <format name="pdf" disabled="false">
            <external failonerror="true"/>
            <reviewer failonerror="true"/>
        </format>
    </template>
    
    <!-- to skip building outputs for a book, but build the olink db for it, use this template-->
    <template name="no-output"/>

    <document dir="en_US/example_documentation" template="default"/>   
    <document dir="en_US/luckadoo" template="default"/> 
</module>
